@import "tailwindcss";
@theme {
    --font-poppins: 'Poppins', sans-serif;
    --color-blue: #1D4F9F;
    --color-orange: #EC4D01;
    /* ... */
  }

/* Waa scrolling ka ay partners samenayan  */
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  @layer utilities {
    .animate-scroll {
      animation: scroll 15s linear infinite;
      width: fit-content;
    }
  }
  /* End Partners Section */
  /* Berief Image sliding in the irise logo  */
  @keyframes slide-in {
    0% {
        transform: translateX(-10%) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 1s forwards;
}
/* End Berief Image sliding in the irise logo  */

/* Community Image Rotationg */
/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.animate-spin-slow {
  animation: spin 20s linear infinite;
} */

