@import "tailwindcss";
@theme {
    --font-poppins: 'Poppins', sans-serif;
    --color-blue: #1D4F9F;
    --color-orange: #EC4D01;
    /* ... */
  }


  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @layer utilities {
    .animate-scroll {
      animation: scroll 10s linear infinite;
    }
  }
  