@import "tailwindcss";
@theme {
    --font-poppins: 'Poppins', sans-serif;
    --color-blue: #1D4F9F;
    --color-orange: #E85024;
    /* ... */
  }


/* 
  @keyframes slideLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
} */